### Importing

In [70]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

### Reading file

In [71]:
DataSet_Address = r"D:\Payam\UT\Machin Learning\MyCode\UT_Project\ENB2012_data.csv"
df = pd.read_csv(DataSet_Address)
df.shape

(1296, 10)

In [72]:
df = df.apply(pd.to_numeric , errors = 'coerce')
df = df.dropna()
df = df.reset_index(drop=True)
df.shape
df

       X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84  28.28
..    ...    ...    ...     ...  ...  ...  ...  ...    ...    ...
763  0.64  784.0  343.0  220.50  3.5  5.0  0.4  5.0  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5  2.0  0.4  5.0  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5  3.0  0.4  5.0  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5  4.0  0.4  5.0  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5  5.0  0.4  5.0  16.64  16.03

[768 rows x 10 columns]

## pre-processing

### splitting xdata and ydata .

In [73]:
X_Data = df[["X1",	"X2"	,"X3"	,"X4"	,"X5"	,"X6"	,"X7"	,"X8"]].values
Y1_Data = df['Y1'].values
y2_Data = df['Y2'].values

### Normalization

In [79]:
Normalization = MinMaxScaler()
X_Ndata = Normalization.fit_transform(X_Data.astype(float))
X_Ndata

array([[1.        , 0.        , 0.28571429, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.28571429, ..., 0.33333333, 0.        ,
        0.        ],
       [1.        , 0.        , 0.28571429, ..., 0.66666667, 0.        ,
        0.        ],
       ...,
       [0.        , 1.        , 0.71428571, ..., 0.33333333, 1.        ,
        1.        ],
       [0.        , 1.        , 0.71428571, ..., 0.66666667, 1.        ,
        1.        ],
       [0.        , 1.        , 0.71428571, ..., 1.        , 1.        ,
        1.        ]])