### Importing

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.model_selection import train_test_split

### Reading file

In [2]:
DataSet_Address = r"D:\Payam\UT\Machin Learning\MyCode\UT_Project\ENB2012_data.csv"
df = pd.read_csv(DataSet_Address)
df.shape

(1296, 10)

In [3]:
df = df.apply(pd.to_numeric , errors = 'coerce')
df = df.dropna()
df = df.reset_index(drop=True)
df.shape
df

       X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84  28.28
..    ...    ...    ...     ...  ...  ...  ...  ...    ...    ...
763  0.64  784.0  343.0  220.50  3.5  5.0  0.4  5.0  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5  2.0  0.4  5.0  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5  3.0  0.4  5.0  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5  4.0  0.4  5.0  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5  5.0  0.4  5.0  16.64  16.03

[768 rows x 10 columns]

## pre-processing

### splitting xdata and ydata .

In [4]:
X_Data = df[["X1",	"X2"	,"X3"	,"X4"	,"X5"	,"X6"	,"X7"	,"X8"]].values
Y1_Data = df['Y1'].values
Y2_Data = df['Y2'].values

### Normalization

In [26]:
Normalization = MinMaxScaler()
X_Ndata = Normalization.fit_transform(X_Data.astype(float))
#X_Ndata = X_Data

### Splitting X_data and Y_data

In [27]:
X_train , X_test , Y1_train , Y1_test = train_test_split(X_Ndata , Y1_Data , random_state=4 , test_size=0.2)
X_train , X_test , Y2_train , Y2_test = train_test_split(X_Ndata , Y2_Data , random_state=4 , test_size=0.2)

# Modeling

In [55]:

def Create_model(X_train , X_test , Y_train , Y_test):
    regr = linear_model.LinearRegression()
    regr.fit(X_train , Y_train)
    yhat = regr.predict(X_test)
    Err = np.mean((yhat - Y_test))
    print( "R2_score :", regr.score(X_test,Y_test) , "\nResidual sum of squares: %.2f"
      % np.mean((yhat - Y_test) ** 2) )
    
Create_model(X_train , X_test , Y1_train , Y1_test)

R2_score : 0.9174103719574074
Residual sum of squares: 8.12

In [56]:
Create_model(X_train , X_test , Y2_train , Y2_test)

R2_score : 0.8942076126218029
Residual sum of squares: 8.85