### Importing

In [1]:
import pandas as pd

### Reading file

In [29]:
DataSet_Address = r"D:\Payam\UT\Machin Learning\MyCode\UT_Project\ENB2012_data.csv"
df = pd.read_csv(DataSet_Address)
df

        X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0     0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1     0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2     0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55  21.33
3     0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55  21.33
4     0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84  28.28
...    ...    ...    ...     ...  ...  ...  ...  ...    ...    ...
1291   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1292   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1293   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1294   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1295   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN

[1296 rows x 10 columns]